<?xml version="1.0"?>
<configuration>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>

  <appSettings>
    <add key="user-data-url" value="http://localhost/user-data-script.xml"/>
  </appSettings>

  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="FileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\CtxLogs\stackmate-agent.log"/>
      </listeners>
    </trace>
    <switches>
      <!-- 
      Switch name should not be changed as it identifies a switch embedded in the code.
      
      Switch value controls the level of trace information written:
        0 = Off, 1 = Error, 2 = Warning, 3 = Info, 4 = Verbose.
      
      Any number greater than 4 is treated as Verbose, and any number less than zero is treated as Off 
        
      -->
      <add name="stackmate-agent" value="3"/>
    </switches>
  </system.diagnostics>
</configuration>
