<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="CFNFOLDER">
            <Component Id="cmpBA103DE8A3D9C3F9606841158E312BC4" Guid="{6B3DEE3F-1874-48EC-88F7-0635617FB443}">
                <File Id="fil8A5930A9C2D482A7E5119BD1723A9F41" KeyPath="yes" Source="$(var.CfnBootstrapPath)\API-MS-Win-Core-LocalRegistry-L1-1-0.dll" />
            </Component>
            <Component Id="cmpE8AFA1255E9A9455C3DB6BBB93C68F1F" Guid="{A514EE21-4CBD-4429-BC78-8E3632381AD2}">
                <File Id="fil3771D671C619C558F402388937CDA42D" KeyPath="yes" Source="$(var.CfnBootstrapPath)\bz2.pyd" />
            </Component>
            <Component Id="cmpB588B2AA350F62171A4196C34F8FD73A" Guid="{8EFB8E72-B928-4D48-BEC4-744626223356}">
                <File Id="fil0989E56858160EA20F0EF7CEBD626B99" KeyPath="yes" Source="$(var.CfnBootstrapPath)\cacert.pem" />
            </Component>
            <Component Id="cmp04E5F9CA088887332F320C44049E2788" Guid="{08161BC5-4664-48F1-A8D4-7C073B0566EE}">
                <File Id="fil43CCEAFFFE049B471E36FC25037C6DE9" KeyPath="yes" Source="$(var.CfnBootstrapPath)\cfn-elect-cmd-leader.exe" />
            </Component>
            <Component Id="cmpFFF0B97684AE46EBE750642CE9AC7656" Guid="{62AF6C84-1D59-47C2-9CD7-0720DE2DEB95}">
                <File Id="filC11D08B8D32F58A2A174F0B405230032" KeyPath="yes" Source="$(var.CfnBootstrapPath)\cfn-get-metadata.exe" />
            </Component>
            <Component Id="cmp92F09DC0B072D4E3E85C9F90D6DBDF33" Guid="{6B6D028A-0645-47F3-825E-ACFA301AF94A}">
                <File Id="filB595D3D3E06CA196E6231CFBC68CB33E" KeyPath="yes" Source="$(var.CfnBootstrapPath)\cfn-hup.exe" />
            </Component>
            <Component Id="cmp667678261F8B1DA7E0E08AB3E64C9CDE" Guid="{1222EA64-72BE-4357-87B7-40EE6A8F81D9}">
                <File Id="filD186DDADACCAE81DD8DA88E1A75433AD" KeyPath="yes" Source="$(var.CfnBootstrapPath)\cfn-init.exe" />
            </Component>
            <Component Id="cmp525B0C179F2C1F52591723985434981F" Guid="{9FC922D2-BE63-43F2-B3B5-32B55962A090}">
                <File Id="fil5577506ADAF70D63D6D524516E212C22" KeyPath="yes" Source="$(var.CfnBootstrapPath)\cfn-send-cmd-result.exe" />
            </Component>
            <Component Id="cmpBB0A2963033A548FD32D8BD27F3E1F52" Guid="{5B1E5403-3450-4D10-9093-B47CC0E87C16}">
                <File Id="fil3DEEA5FF3102D536C868749F36CF5F4C" KeyPath="yes" Source="$(var.CfnBootstrapPath)\cfn-signal.exe" />
            </Component>
            <Component Id="cmpA862B501D74FC454536559EDAA29C59E" Guid="{9FCC2DDE-26A9-4375-A699-40E1DE1A20A9}">
                <File Id="fil96A0FDB30567CA5C7F859FEAA05EB41B" KeyPath="yes" Source="$(var.CfnBootstrapPath)\is_ec2.exe" />
            </Component>
            <Component Id="cmp0A096FB9AEC42E4CFFD7AEBFB4F2F1B0" Guid="{DD58F949-57C6-45BC-9641-302CF651BBB8}">
                <File Id="filDC7AEB9D9BE49B7D17F400BE52DFAA01" KeyPath="yes" Source="$(var.CfnBootstrapPath)\library.zip" />
            </Component>
            <Component Id="cmp0F69A0D1C71D9ABC9D956B1084204689" Guid="{AE9AE4CA-1E7C-4B18-B309-8F2007F5BF7F}">
                <File Id="fil87E636F0D00A7F7634A74F41AA17410B" KeyPath="yes" Source="$(var.CfnBootstrapPath)\LICENSE.rtf" />
            </Component>
            <Component Id="cmp708D7503A560F4EFC2B2122896936DCC" Guid="{7C6B67DF-C8F3-41F4-A012-AEBA4C640A13}">
                <File Id="fil76299575C11B9DBD9537122658F8FA69" KeyPath="yes" Source="$(var.CfnBootstrapPath)\mfc90.dll" />
            </Component>
            <Component Id="cmp793EA334EA2E8B9E92CC471B957D2D7D" Guid="{906322BE-A61D-4644-B401-E33BD23BE078}">
                <File Id="fil1E50A5D8F38B2DEBF1270EDDC63E06BF" KeyPath="yes" Source="$(var.CfnBootstrapPath)\MPR.dll" />
            </Component>
            <Component Id="cmp90EC3FC25A9201651A4EE331E4066833" Guid="{4A45B93B-5BD9-4D7C-A31B-EC891D730EC3}">
                <File Id="fil15DCEB8891252C5C74A3CACC71BC62B8" KeyPath="yes" Source="$(var.CfnBootstrapPath)\NOTICE.txt" />
            </Component>
            <Component Id="cmpAAF0308DF6BB5FF1D5AE2FC8476E7B94" Guid="{425B8FCC-D20D-4564-BA00-D254C7381102}">
                <File Id="fil24566E4CECAE67DF3FA950CCE1A4452C" KeyPath="yes" Source="$(var.CfnBootstrapPath)\perfmon.pyd" />
            </Component>
            <Component Id="cmp0723DCB86BC96F93B9832F4308D52E18" Guid="{AA96EA6D-40A4-4DD1-9447-7390FA7CFD9F}">
                <File Id="fil00D8BBC4E5CCC209AF648CA2B7C016DB" KeyPath="yes" Source="$(var.CfnBootstrapPath)\pyexpat.pyd" />
            </Component>
            <Component Id="cmp3A0F13511D8A974084564A17449B88D0" Guid="{941B5870-A626-431E-8A05-1D1C4BCD971D}">
                <File Id="fil8321C35F81F540C1B4102DDEC018919A" KeyPath="yes" Source="$(var.CfnBootstrapPath)\python27.dll" />
            </Component>
            <Component Id="cmp13DCAE17DB51DF86804180DE4A07C1EA" Guid="{FDE33D85-B8C1-484B-B459-F468F3E4DECE}">
                <File Id="fil68225B59D1E62A643A4D8868740AB35C" KeyPath="yes" Source="$(var.CfnBootstrapPath)\pythoncom27.dll" />
            </Component>
            <Component Id="cmp7A13D5F71DCB1454C39FA444E7D83E08" Guid="{847DA81D-32BA-4E65-9BB4-DF84EEF8AF3C}">
                <File Id="fil7EC9ADB2C1D78E84AC58DD7853C84654" KeyPath="yes" Source="$(var.CfnBootstrapPath)\pywintypes27.dll" />
            </Component>
            <Component Id="cmp78F46A5E9203CA9506CB5DA8BE8F36C6" Guid="{4F53157D-9A9C-4509-B667-B91D12B6F863}">
                <File Id="fil63BFA6AB0DC3D56E669A35CFB0F24363" KeyPath="yes" Source="$(var.CfnBootstrapPath)\select.pyd" />
            </Component>
            <Component Id="cmp38C7EBCA13193A76B35035297D39A617" Guid="{ECE8D521-6963-4879-BF5B-C6EDE9FEAB1F}">
                <File Id="filB541F254AE492F9D3D7F54BDF0A7927E" KeyPath="yes" Source="$(var.CfnBootstrapPath)\servicemanager.pyd" />
            </Component>
            <Component Id="cmp2A12335AE34DD834EF60CC9DB9D97A79" Guid="{C13EBD9A-9569-4A01-85C8-AFCC77C960E1}">
                <File Id="filF42276DF94AF687285BAA746BDC06DF8" KeyPath="yes" Source="$(var.CfnBootstrapPath)\unicodedata.pyd" />
            </Component>
            <Component Id="cmp5CECB4B33823C20681846BD5E5908407" Guid="{D4032CEA-DB00-4645-A2B5-63E31062E955}">
                <File Id="fil97F15990DEA89ADA3465FD79FCFB53DD" KeyPath="yes" Source="$(var.CfnBootstrapPath)\win32api.pyd" />
            </Component>
            <Component Id="cmpD87B80AB6A6BFB8146C1F04F176CC4D1" Guid="{F36CEB27-ECEE-41EC-ADC7-2613ED454A10}">
                <File Id="filFAF21F7D9E01317097A1C5DEC84A4061" KeyPath="yes" Source="$(var.CfnBootstrapPath)\win32event.pyd" />
            </Component>
            <Component Id="cmpC0A2FC56CEC6039FABCB46F5D92A94AF" Guid="{863DCE8F-BD7F-41B3-9334-9472C57D06D3}">
                <File Id="fil9C3AF501638FEBD0B88F52A139D2AC9D" KeyPath="yes" Source="$(var.CfnBootstrapPath)\win32evtlog.pyd" />
            </Component>
            <Component Id="cmp3D16D7B647B19EA1E57EFC67815B6D32" Guid="{68CB7892-2C07-43C7-B166-DD956007CD5A}">
                <File Id="filD3D53E4C8DE7DB3623653E8B971AE38B" KeyPath="yes" Source="$(var.CfnBootstrapPath)\win32pipe.pyd" />
            </Component>
            <Component Id="cmp7B1BC0FC5CE33A7575B3434FB7F0A6DF" Guid="{8BB03F10-90D8-4111-B81B-CA56CB602FB3}">
                <File Id="fil359344EB2795C9999CA47A0085267FC0" KeyPath="yes" Source="$(var.CfnBootstrapPath)\win32service.pyd" />
            </Component>
            <Component Id="cmpEBB55FEBFFA3227C23C6834BA1CEF7E9" Guid="{923B76E4-97D7-4B1D-837A-8DB14837D180}">
                <File Id="fil26F8DEA5C7BC060FF7DC481B76D65093" KeyPath="yes" Source="$(var.CfnBootstrapPath)\win32ui.pyd" />
            </Component>
            <Component Id="cmp722A8EC5A3E3C2D34052786F057BC922" Guid="{291572CB-0956-448A-B161-FAFAFC01533F}">
                <File Id="filEF7528459F8264AC265664DC8DA2ED50" KeyPath="yes" Source="$(var.CfnBootstrapPath)\win32wnet.pyd" />
            </Component>
            <Component Id="cmpEA9E55D4C2F3590B8EFA1A02C42FAB58" Guid="{A41FCFC8-F3FF-49D6-A662-A43080810BF6}">
                <File Id="filBE54CD3538A230823AC800FF3A342655" KeyPath="yes" Source="$(var.CfnBootstrapPath)\winhup.exe" />
            </Component>
            <Component Id="cmp7D331981CFA4E5FBAFB93C6D896A083C" Guid="{00D67B66-5AFD-4F1F-8022-B00D44ED0ADE}">
                <File Id="filD26DE73ADC7C5231DA5AA987BE813A9C" KeyPath="yes" Source="$(var.CfnBootstrapPath)\_bsddb.pyd" />
            </Component>
            <Component Id="cmp8CEC97C8B747F6313B1BD7C839647CCE" Guid="{276C36B3-4AB8-487A-A99C-D472D8A41576}">
                <File Id="fil19E00E1729F362CDE1DE9E109175FEB2" KeyPath="yes" Source="$(var.CfnBootstrapPath)\_ctypes.pyd" />
            </Component>
            <Component Id="cmp0B2E6C77D65BD6B65BE90C5F4769946E" Guid="{41DA5F0A-DB64-4A96-99CF-FCDB799A3A36}">
                <File Id="filCB4CD19C241E7E467DB9CF876AE59F55" KeyPath="yes" Source="$(var.CfnBootstrapPath)\_hashlib.pyd" />
            </Component>
            <Component Id="cmpF07B12A500663995C5B3D0226A0A9546" Guid="{7D9C74A9-D22E-4799-8CE0-833B538552E7}">
                <File Id="fil59115A206A327A4D8DD60B816D2B2DA1" KeyPath="yes" Source="$(var.CfnBootstrapPath)\_socket.pyd" />
            </Component>
            <Component Id="cmpD00A97E65668EF7ED2609FABF0B65A21" Guid="{7F7B756B-3D50-4C29-B2DC-6D3AD2BC6AD9}">
                <File Id="fil8DA39AF4426BD6CCB6124DF75A99B97F" KeyPath="yes" Source="$(var.CfnBootstrapPath)\_ssl.pyd" />
            </Component>
            <Component Id="cmpE0DBF3B49D81EC79D188475A70DFE986" Guid="{6AF81B2B-636C-4262-B3FC-82AC69E8774F}">
                <File Id="fil70ACA0514B4C6DA6ADD76ED212462357" KeyPath="yes" Source="$(var.CfnBootstrapPath)\_win32sysloader.pyd" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="CfnBootstrap">
            <ComponentRef Id="cmpBA103DE8A3D9C3F9606841158E312BC4" />
            <ComponentRef Id="cmpE8AFA1255E9A9455C3DB6BBB93C68F1F" />
            <ComponentRef Id="cmpB588B2AA350F62171A4196C34F8FD73A" />
            <ComponentRef Id="cmp04E5F9CA088887332F320C44049E2788" />
            <ComponentRef Id="cmpFFF0B97684AE46EBE750642CE9AC7656" />
            <ComponentRef Id="cmp92F09DC0B072D4E3E85C9F90D6DBDF33" />
            <ComponentRef Id="cmp667678261F8B1DA7E0E08AB3E64C9CDE" />
            <ComponentRef Id="cmp525B0C179F2C1F52591723985434981F" />
            <ComponentRef Id="cmpBB0A2963033A548FD32D8BD27F3E1F52" />
            <ComponentRef Id="cmpA862B501D74FC454536559EDAA29C59E" />
            <ComponentRef Id="cmp0A096FB9AEC42E4CFFD7AEBFB4F2F1B0" />
            <ComponentRef Id="cmp0F69A0D1C71D9ABC9D956B1084204689" />
            <ComponentRef Id="cmp708D7503A560F4EFC2B2122896936DCC" />
            <ComponentRef Id="cmp793EA334EA2E8B9E92CC471B957D2D7D" />
            <ComponentRef Id="cmp90EC3FC25A9201651A4EE331E4066833" />
            <ComponentRef Id="cmpAAF0308DF6BB5FF1D5AE2FC8476E7B94" />
            <ComponentRef Id="cmp0723DCB86BC96F93B9832F4308D52E18" />
            <ComponentRef Id="cmp3A0F13511D8A974084564A17449B88D0" />
            <ComponentRef Id="cmp13DCAE17DB51DF86804180DE4A07C1EA" />
            <ComponentRef Id="cmp7A13D5F71DCB1454C39FA444E7D83E08" />
            <ComponentRef Id="cmp78F46A5E9203CA9506CB5DA8BE8F36C6" />
            <ComponentRef Id="cmp38C7EBCA13193A76B35035297D39A617" />
            <ComponentRef Id="cmp2A12335AE34DD834EF60CC9DB9D97A79" />
            <ComponentRef Id="cmp5CECB4B33823C20681846BD5E5908407" />
            <ComponentRef Id="cmpD87B80AB6A6BFB8146C1F04F176CC4D1" />
            <ComponentRef Id="cmpC0A2FC56CEC6039FABCB46F5D92A94AF" />
            <ComponentRef Id="cmp3D16D7B647B19EA1E57EFC67815B6D32" />
            <ComponentRef Id="cmp7B1BC0FC5CE33A7575B3434FB7F0A6DF" />
            <ComponentRef Id="cmpEBB55FEBFFA3227C23C6834BA1CEF7E9" />
            <ComponentRef Id="cmp722A8EC5A3E3C2D34052786F057BC922" />
            <ComponentRef Id="cmpEA9E55D4C2F3590B8EFA1A02C42FAB58" />
            <ComponentRef Id="cmp7D331981CFA4E5FBAFB93C6D896A083C" />
            <ComponentRef Id="cmp8CEC97C8B747F6313B1BD7C839647CCE" />
            <ComponentRef Id="cmp0B2E6C77D65BD6B65BE90C5F4769946E" />
            <ComponentRef Id="cmpF07B12A500663995C5B3D0226A0A9546" />
            <ComponentRef Id="cmpD00A97E65668EF7ED2609FABF0B65A21" />
            <ComponentRef Id="cmpE0DBF3B49D81EC79D188475A70DFE986" />
        </ComponentGroup>
    </Fragment>
</Wix>