<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <!-- Cloud to use with credentials -->
    <add key="cloudstack-url" value="http://192.168.1.1:8080/client/api"/>
    <add key="cloudstack-api-key" value="d1o015iIKMq3hVx9IlpPtLDpl7GzMvVKzwV1PXzkeWvoxnqodRg_2QMnWEzJdc03luUTbJwapHCB4VeQhsSIjw"/>
    <add key="cloudstack-secret-key" value="8cIyB9JW5tmMJ8J43XGv-Yv-jlaefUwfgwt1gUDUUD5Bsy-EHTMyWx9qbvIDR9M1XzfNJ4-LWJmweRnBE763qw"/>  
    
    <!-- VM environment -->  
    <add key="network-id" value="75120d3c-4546-4a58-b8ba-865049df8063"/>
    <add key="zone-id" value="70acebbf-6c96-4d7e-b7c5-cb172ce1ce01"/>
    <add key="service-offering-id" value="7598e893-a555-4d54-b691-3657177182e8"/>
    
    <!-- templates to exercise-->
    <add key="template-1" value="f5dfb253-17e0-4704-9c06-43d8fbc5b1a0"/>
    
    <!-- Scripts to upload and execute via UserData -->
    <add key="powershell-1" value="test-powershell-1.ps1"/>
    
    <add key="script-1" value="test-script-1.cmd"/>
  
  </appSettings>
</configuration>