<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="SCRIPTFOLDER">
            <Component Id="cmp0D1D4134080A191DE27A48A042D1BAA4" Guid="{DCDBFC24-251F-42AA-9D91-B33E17AB036E}">
                <File Id="filEE9D4A302B55D4971C1D31CE5CD0FDF4" KeyPath="yes" Source="$(var.ScriptPath)\AddAccessRule.cmd" />
            </Component>
            <Component Id="cmp60238149E370B0FC5F6ECDAD09C1A549" Guid="{5FC686F7-E2B4-438A-BBCC-759A2D6CEC7A}">
                <File Id="fil632B559BA9C464150F7E2E2389B395EE" KeyPath="yes" Source="$(var.ScriptPath)\AddAccessRule.ps1" />
            </Component>
            <Component Id="cmpC512F7C4F481554CE5FC6E477D79CDEB" Guid="{B3F310E0-EA46-4572-ADB6-98D25CE4A14A}">
                <File Id="filCB0BA6474C6813FF0509EBF2A69C9917" KeyPath="yes" Source="$(var.ScriptPath)\AddKmsServiceRecord.cmd" />
            </Component>
            <Component Id="cmp0D02C719D30F8ECA4CD2CA4C9AC82109" Guid="{F069C4EB-0ACB-4545-B0C1-51EE0198AB42}">
                <File Id="fil8A0B631D307FAE9EEB547480CBCA7E07" KeyPath="yes" Source="$(var.ScriptPath)\AddKmsServiceRecord.ps1" />
            </Component>
            <Component Id="cmpBF10BD0E9CAD2383A7890D8248F5D71F" Guid="{0AAE749B-B954-4F52-B650-F318E43429CE}">
                <File Id="fil14BFDD0D8AF4416055AF960BE338EFF7" KeyPath="yes" Source="$(var.ScriptPath)\CreateDomain.cmd" />
            </Component>
            <Component Id="cmp7FAC36AF1FB58E7DC56FAA24734D3D4B" Guid="{0AF61998-4191-4BB8-9BA1-7C8F77909326}">
                <File Id="fil4978E9E8943C490DF9D97BDB70F04E3B" KeyPath="yes" Source="$(var.ScriptPath)\CreateDomain.ps1" />
            </Component>
            <Component Id="cmp1FAF886F48E3339E15B176EA6135B650" Guid="{D2D6FA5C-7B83-4135-BA46-6396258B82B4}">
                <File Id="fil47F80A54DE810246B2EA594F757E7E06" KeyPath="yes" Source="$(var.ScriptPath)\CreateTrustRelationship.cmd" />
            </Component>
            <Component Id="cmp7AF10F01C2C118E63B398C2D198C320F" Guid="{BF6DA259-C6E4-4BCC-946B-F783EFD5F21A}">
                <File Id="fil329AF4AA5B212B166B8E5FA57DA8F566" KeyPath="yes" Source="$(var.ScriptPath)\CreateTrustRelationship.ps1" />
            </Component>
            <Component Id="cmp388BB709F5030A83CC2A98271AF794D5" Guid="{0CB3FCB0-5385-4DBF-A0B4-7253881DA378}">
                <File Id="fil2CDF3C86276E3D4694DC07E6D18081AB" KeyPath="yes" Source="$(var.ScriptPath)\DT2SetConfiguration.cmd" />
            </Component>
            <Component Id="cmp60BCFEF29546741DA1DC45976DED21EE" Guid="{31599BE4-F313-484E-B50D-0B33545A6C02}">
                <File Id="fil2F140604B4D0F2A1077BA1F0B5448089" KeyPath="yes" Source="$(var.ScriptPath)\DT2SetConfiguration.ps1" />
            </Component>
            <Component Id="cmpCCF4F488851BC0263BF85CA30067DCFF" Guid="{2C83B1E1-AD7F-4DE4-B863-A6F890BDA46F}">
                <File Id="fil39C2FCB2E1D965B5409AFA18F6984E2E" KeyPath="yes" Source="$(var.ScriptPath)\GetDnsConfiguration.cmd" />
            </Component>
            <Component Id="cmp1042C63E4A554E760BADFBD3F6E30A65" Guid="{323C0D09-4A8F-4E34-B9FD-66891CD86E93}">
                <File Id="filC0E3B125A3484038BB69ED0DFBE1B111" KeyPath="yes" Source="$(var.ScriptPath)\GetDnsConfiguration.ps1" />
            </Component>
            <Component Id="cmp4B71267350B1BD401ED35B57A032D80A" Guid="{DF5C8B44-9575-420C-929D-5D4C27A1D5C4}">
                <File Id="fil2854DBF1BD1B0A3BBD4A49DD7230554D" KeyPath="yes" Source="$(var.ScriptPath)\GetOsName.cmd" />
            </Component>
            <Component Id="cmpD730042AC6DFBB52343D2C4DEA83C819" Guid="{80F03AB3-4EE6-49A8-B3D5-D7335A19CE58}">
                <File Id="fil3A4410854A6904823838315D10C1DC52" KeyPath="yes" Source="$(var.ScriptPath)\GetOsName.ps1" />
            </Component>
            <Component Id="cmp59132B8091BC99D321243F577E18840E" Guid="{AEFFCBDB-CAF5-411C-832E-A1A9392386AA}">
                <File Id="filA718579C0B038CDA0EE0E111608B9C06" KeyPath="yes" Source="$(var.ScriptPath)\InstallMsi.cmd" />
            </Component>
            <Component Id="cmpF51B3A67749638331FD04F9642EC1A5E" Guid="{02E957E7-9580-43A1-8365-3019026420D9}">
                <File Id="fil29BF9E66F9445A884A6B7CB4016FA3CE" KeyPath="yes" Source="$(var.ScriptPath)\InstallMsi.ps1" />
            </Component>
            <Component Id="cmpBD5CB50743F0601DE8CEB190C46024A1" Guid="{D8AF69C3-5FE1-4F27-83AC-21EBF5A5443F}">
                <File Id="filB48F5D8C416577E6ADCC2F11756D7E45" KeyPath="yes" Source="$(var.ScriptPath)\InstallRds.cmd" />
            </Component>
            <Component Id="cmp8870C2E002F14CF577BB066D31B765F3" Guid="{9A891B92-5E75-44BB-AEA9-1B197FCD48A6}">
                <File Id="fil1690EFE764237702E5D5A2D84CC4AE9F" KeyPath="yes" Source="$(var.ScriptPath)\InstallRds.ps1" />
            </Component>
            <Component Id="cmp5665FEBF527AA7793F3B01B9DBF75DB5" Guid="{C0D520FC-98F1-4D72-849D-952E8D7DE6AC}">
                <File Id="fil0C358D504BBD908A6C9662FB4B48C4D2" KeyPath="yes" Source="$(var.ScriptPath)\IsServerOs.cmd" />
            </Component>
            <Component Id="cmp1673276C787F1D8D5B3E791694D3C3C2" Guid="{AB0BFB2D-796A-4CBE-9624-5276740211D1}">
                <File Id="filE3E93D142A05EDB7610D58BA3F29D027" KeyPath="yes" Source="$(var.ScriptPath)\IsServerOs.ps1" />
            </Component>
            <Component Id="cmp74557AF901DDCE376FF3642B7482ECF4" Guid="{6777D6C4-C051-4AB7-B491-47F7292AFD77}">
                <File Id="fil13554403DF3E66C8221932499DBFCF42" KeyPath="yes" Source="$(var.ScriptPath)\JoinDomain.cmd" />
            </Component>
            <Component Id="cmp144A9D35F3A6C27E228ADCA659AEFC5A" Guid="{10EE1273-FAF0-4D31-B3CD-0790CC0C7B5A}">
                <File Id="fil2A148AD9AC38313A5702E1FAF2FB01A3" KeyPath="yes" Source="$(var.ScriptPath)\JoinDomain.ps1" />
            </Component>
            <Component Id="cmp80E4D991E152CFDE6C6F960CDC09A736" Guid="{FD696CFB-D452-4F58-A504-89C19939CB15}">
                <File Id="fil6490352AA1F4A50440EB98F18D7CABD9" KeyPath="yes" Source="$(var.ScriptPath)\RebootTask.ps1" />
            </Component>
            <Component Id="cmpF6AFCCEBF3F250D3F47928066418003F" Guid="{8810E551-AA2A-4C59-972D-D4460C5BC9D8}">
                <File Id="fil88A565CBBEBC60E45AF653C86A64ECB0" KeyPath="yes" Source="$(var.ScriptPath)\RenameComputer.cmd" />
            </Component>
            <Component Id="cmp612D59B6999CB719EF9748FCEE43F89B" Guid="{B99E7AEA-0AD0-40FC-B9EA-DE66F7C8B62E}">
                <File Id="fil26ACB9567E2A8203F28CA8516BA08D6A" KeyPath="yes" Source="$(var.ScriptPath)\RenameComputer.ps1" />
            </Component>
            <Component Id="cmp04A30B05F28DAD7A51A3B2247C2DA81D" Guid="{D03D600D-37F3-4248-9CC4-3E2401A6B169}">
                <File Id="fil0C243C51B158373FA02CFDF7B9A87B9B" KeyPath="yes" Source="$(var.ScriptPath)\RenameComputerCreateDomainSample.ps1" />
            </Component>
            <Component Id="cmp2CB7ADD27E620F6E54F1A1F06B2DE769" Guid="{9DC62F04-658B-46DF-A61B-582D0B5B3E89}">
                <File Id="filF1468D6AAB580E97C729DE0FB6ABF039" KeyPath="yes" Source="$(var.ScriptPath)\RenameComputerJoinDomainSample.ps1" />
            </Component>
            <Component Id="cmp1DB997F5AD2B7D58EB8EAA1E19C0021D" Guid="{19F79A78-E8B0-4587-8E51-447F10A643D1}">
                <File Id="filBA94195035BAE0AC99E6CC861A74EAB4" KeyPath="yes" Source="$(var.ScriptPath)\ResetDnsOnBoot.cmd" />
            </Component>
            <Component Id="cmp0E9E50743AD81CA958F8A0D06DB27DE2" Guid="{6A13AA5F-2095-41FC-8BD1-E8C924F60511}">
                <File Id="fil04A498D8FF0C44FC0BE0C8F69A3EFF49" KeyPath="yes" Source="$(var.ScriptPath)\ResetDnsOnBoot.ps1" />
            </Component>
            <Component Id="cmp193EFC23C57A286A76BEF778275D7D6E" Guid="{51C08122-FD2B-4BDC-B0E7-0EE1221ABAA3}">
                <File Id="filA9B574CACAE94E453FD92EDDDC09F7B4" KeyPath="yes" Source="$(var.ScriptPath)\ResetLocalAccount.cmd" />
            </Component>
            <Component Id="cmp748A71BB88341DC8E7723C23A56D548C" Guid="{C9A7248C-67F7-4EBA-A7BC-96FF56AE2C8A}">
                <File Id="filC93D1CC8E232B3B3D7C6D0FC2830AA46" KeyPath="yes" Source="$(var.ScriptPath)\ResetLocalAccount.ps1" />
            </Component>
            <Component Id="cmp440CFB9F4DF8CA9F46FDD078C2C7CE4C" Guid="{2B9A4545-F521-4C19-89DE-B42A6DCD9CE6}">
                <File Id="fil20E5D7172F83519CD8B70BAD5F2CBEA1" KeyPath="yes" Source="$(var.ScriptPath)\SetDnsConfiguration.cmd" />
            </Component>
            <Component Id="cmp48D194BF1602BDDA5216C1FC4254A621" Guid="{622C466B-51CF-4ED1-800C-71A09684BDA5}">
                <File Id="fil83214A1A57A14479CBE9DF1550AB00A1" KeyPath="yes" Source="$(var.ScriptPath)\SetDnsConfiguration.ps1" />
            </Component>
            <Component Id="cmp4A4BC5987B0FC227ADEA16D1E14F2041" Guid="{2CFE6B33-8548-4F55-8C06-1C40604233B6}">
                <File Id="filC4D2BCB8619CF18D13F0AA242CF2F65B" KeyPath="yes" Source="$(var.ScriptPath)\SetDnsForwarder.cmd" />
            </Component>
            <Component Id="cmp141E277863198E69356CA2CA41C3533B" Guid="{856CA819-7D48-4602-B9A1-E6439A5EF08F}">
                <File Id="fil793C68141C7BCEC4CFD8F856306E9F4D" KeyPath="yes" Source="$(var.ScriptPath)\SetDnsForwarder.ps1" />
            </Component>
            <Component Id="cmp36B09C9CC37D173D936F63A083D0AD1E" Guid="{66305FF9-B00A-4CD5-BD4F-654EA8F30A17}">
                <File Id="fil4E9D84B4369D6C881177C61F10F78BA1" KeyPath="yes" Source="$(var.ScriptPath)\unattend-template.txt" />
            </Component>
            <Component Id="cmpD2BF0DC530F04043DC15336E6492F81B" Guid="{CD9FB1FF-4083-47E6-A598-353E7C3ED92F}">
                <File Id="fil4009199A54ED333457BC163ABCEDBBC0" KeyPath="yes" Source="$(var.ScriptPath)\XDCreateResources.cmd" />
            </Component>
            <Component Id="cmp8866AF535B5F685D4368E6D134D401CB" Guid="{FE199868-4C70-4089-8CE2-83D5B9CA9376}">
                <File Id="filB41B2C51E4611D20066840F2BFD50548" KeyPath="yes" Source="$(var.ScriptPath)\XDCreateResources.ps1" />
            </Component>
            <Component Id="cmp51C62BFFA28B536426F555E0F86164E4" Guid="{8A1AC248-2649-4A26-B862-2BE9A33A0B5B}">
                <File Id="filC95C09C502928C4FB69DCF42B62F7152" KeyPath="yes" Source="$(var.ScriptPath)\XDCreateSite.cmd" />
            </Component>
            <Component Id="cmp4660D7486C91ED595DFEF7682E6BD016" Guid="{408FEBE2-D9A8-464F-A5F1-F59E3B5F121D}">
                <File Id="filF926063F52D807B870AD54D808803595" KeyPath="yes" Source="$(var.ScriptPath)\XDCreateSite.ps1" />
            </Component>
            <Component Id="cmp7DA25553A319E621F0F504854883F45D" Guid="{F3FBCCC2-DEAB-46C5-BD90-2125D9374FAC}">
                <File Id="filE6BBC850090A5ED04BB2A18DB1F2CE15" KeyPath="yes" Source="$(var.ScriptPath)\XDInstallSingleServer.cmd" />
            </Component>
            <Component Id="cmp213B75BEBECA6A421A577D1D46116FB4" Guid="{32D6E830-55A7-496A-ABCC-9B8F28014B6A}">
                <File Id="fil5A4DF516A304553A732021EA04959FC9" KeyPath="yes" Source="$(var.ScriptPath)\XDInstallSingleServer.ps1" />
            </Component>
            <Component Id="cmpC0261B02EE0FAE270F65DD95AEF2E3F6" Guid="{1BA30448-4578-42BE-AAFD-B9F15E5B5EEF}">
                <File Id="filCCC1F023348406190D99E99AE52BB7F4" KeyPath="yes" Source="$(var.ScriptPath)\XDInstallVda.cmd" />
            </Component>
            <Component Id="cmp1368FBAA4DA01BDB1E96B628D1673848" Guid="{EC8AE094-5642-4ACF-B0E1-1B7E968A36FC}">
                <File Id="fil25DA7169BF31FA40319B83C5BCA19101" KeyPath="yes" Source="$(var.ScriptPath)\XDInstallVda.ps1" />
            </Component>
            <Directory Id="dir40CD273B822F96E1BAA1263B1156E492" Name="CloudworksTools">
                <Component Id="cmpF1FDC8B313B05978784529D1D59A9E70" Guid="{612B5B3A-0F31-4320-A004-4BB88D6ECAF9}">
                    <File Id="fil91050EBEF896A0652EEB7E265CE8A7C5" KeyPath="yes" Source="$(var.ScriptPath)\CloudworksTools\CloudworksTools.psm1" />
                </Component>
            </Directory>
            <Directory Id="dir7762F395661FA9CD30575AC4B6CE0DB5" Name="XenDesktopTools">
                <Component Id="cmp7787B9F6F6068299EB1B7828F6638076" Guid="{EA0F110C-182F-4169-936E-303FCF5CB033}">
                    <File Id="fil80B629BD08D4C6FD3865BF3F0C676B9C" KeyPath="yes" Source="$(var.ScriptPath)\XenDesktopTools\XenDesktopTools.psm1" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="Scripts">
            <ComponentRef Id="cmp0D1D4134080A191DE27A48A042D1BAA4" />
            <ComponentRef Id="cmp60238149E370B0FC5F6ECDAD09C1A549" />
            <ComponentRef Id="cmpC512F7C4F481554CE5FC6E477D79CDEB" />
            <ComponentRef Id="cmp0D02C719D30F8ECA4CD2CA4C9AC82109" />
            <ComponentRef Id="cmpBF10BD0E9CAD2383A7890D8248F5D71F" />
            <ComponentRef Id="cmp7FAC36AF1FB58E7DC56FAA24734D3D4B" />
            <ComponentRef Id="cmp1FAF886F48E3339E15B176EA6135B650" />
            <ComponentRef Id="cmp7AF10F01C2C118E63B398C2D198C320F" />
            <ComponentRef Id="cmp388BB709F5030A83CC2A98271AF794D5" />
            <ComponentRef Id="cmp60BCFEF29546741DA1DC45976DED21EE" />
            <ComponentRef Id="cmpCCF4F488851BC0263BF85CA30067DCFF" />
            <ComponentRef Id="cmp1042C63E4A554E760BADFBD3F6E30A65" />
            <ComponentRef Id="cmp4B71267350B1BD401ED35B57A032D80A" />
            <ComponentRef Id="cmpD730042AC6DFBB52343D2C4DEA83C819" />
            <ComponentRef Id="cmp59132B8091BC99D321243F577E18840E" />
            <ComponentRef Id="cmpF51B3A67749638331FD04F9642EC1A5E" />
            <ComponentRef Id="cmpBD5CB50743F0601DE8CEB190C46024A1" />
            <ComponentRef Id="cmp8870C2E002F14CF577BB066D31B765F3" />
            <ComponentRef Id="cmp5665FEBF527AA7793F3B01B9DBF75DB5" />
            <ComponentRef Id="cmp1673276C787F1D8D5B3E791694D3C3C2" />
            <ComponentRef Id="cmp74557AF901DDCE376FF3642B7482ECF4" />
            <ComponentRef Id="cmp144A9D35F3A6C27E228ADCA659AEFC5A" />
            <ComponentRef Id="cmp80E4D991E152CFDE6C6F960CDC09A736" />
            <ComponentRef Id="cmpF6AFCCEBF3F250D3F47928066418003F" />
            <ComponentRef Id="cmp612D59B6999CB719EF9748FCEE43F89B" />
            <ComponentRef Id="cmp04A30B05F28DAD7A51A3B2247C2DA81D" />
            <ComponentRef Id="cmp2CB7ADD27E620F6E54F1A1F06B2DE769" />
            <ComponentRef Id="cmp1DB997F5AD2B7D58EB8EAA1E19C0021D" />
            <ComponentRef Id="cmp0E9E50743AD81CA958F8A0D06DB27DE2" />
            <ComponentRef Id="cmp193EFC23C57A286A76BEF778275D7D6E" />
            <ComponentRef Id="cmp748A71BB88341DC8E7723C23A56D548C" />
            <ComponentRef Id="cmp440CFB9F4DF8CA9F46FDD078C2C7CE4C" />
            <ComponentRef Id="cmp48D194BF1602BDDA5216C1FC4254A621" />
            <ComponentRef Id="cmp4A4BC5987B0FC227ADEA16D1E14F2041" />
            <ComponentRef Id="cmp141E277863198E69356CA2CA41C3533B" />
            <ComponentRef Id="cmp36B09C9CC37D173D936F63A083D0AD1E" />
            <ComponentRef Id="cmpD2BF0DC530F04043DC15336E6492F81B" />
            <ComponentRef Id="cmp8866AF535B5F685D4368E6D134D401CB" />
            <ComponentRef Id="cmp51C62BFFA28B536426F555E0F86164E4" />
            <ComponentRef Id="cmp4660D7486C91ED595DFEF7682E6BD016" />
            <ComponentRef Id="cmp7DA25553A319E621F0F504854883F45D" />
            <ComponentRef Id="cmp213B75BEBECA6A421A577D1D46116FB4" />
            <ComponentRef Id="cmpC0261B02EE0FAE270F65DD95AEF2E3F6" />
            <ComponentRef Id="cmp1368FBAA4DA01BDB1E96B628D1673848" />
            <ComponentRef Id="cmpF1FDC8B313B05978784529D1D59A9E70" />
            <ComponentRef Id="cmp7787B9F6F6068299EB1B7828F6638076" />
        </ComponentGroup>
    </Fragment>
</Wix>